/* ================================= 
  Global Styles
==================================== */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: 'Raleway', sans-serif;
  color: #093a58;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, span {
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
  color: #093a58;
  margin: 0;
  padding: 0;
}

p {
	color: lightslategray;
}


/* ================================= 
 Navigation
==================================== */

.logo {
  font-size: 2.25em;
  padding-top: 15px;
}

.main-nav {
  margin-top: 20px;
}

.logo a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: #07575b;
}

.main-nav a {
  font-size: 1.35em;
  text-transform: uppercase;
  background-color:  #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-nav a:hover {
  color: #093a58;;
}

/* ================================= 
 Containers
==================================== */

.container {
  width: 90%;
  margin:  0 auto;
}

.banner {
  margin-top: 55px;
  text-align: center;
}

/* ================================= 
  Pages Elements 
==================================== */

.intro {
  background-color:#3acec2;
  text-align: center;
}

.profile-img {
  width: 80%;
}

.summary {
  line-height: 1.6em;
  font-size: 1.2em;
  color: darkslategrey;
  margin-top: 30px;
  padding-bottom: 55px;
}

.portfolio-title {
  text-align: center;
  margin: 50px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.items {
  width: 100%;
	transition: box-shadow 0.3s ease-in-out;
}

img.items:hover{
	box-shadow: 10px 10px 5px #aaaaaa;
}

.project-titles {
  text-align: center;
  font-size: 1.4em;
  padding: 30px 0;
	color: darkslategray;
}

.project-paragraphs {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
  padding-bottom: 40px;
}

/* ================================= 
  Skills
==================================== */
.skill-titles,
.skill-title {
  text-align: center;
  font-size: 1.4em;
  padding: 30px 0;
	color: darkslategray;
}


/* ================================= 
  Foooter
==================================== */

.main-footer {
  background-color: #3acec2;
  padding: 30px 0;
}

.footer-title,
.footer-paragraph,
.footer-phone,
.footer-email {
  text-align: center;
	color: #07575b;
}

.footer-title {
  padding: 30px 0;
}

.footer-paragraph,
.footer-phone,
.footer-email {
  line-height: 1.4em;
  font-size: 1.1em;
  color: #07575b;
}

.footer-paragraph {
  padding-bottom: 30px;
}

.footer-phone {
  padding-bottom: 15px;
}

.footer-email {
  padding-bottom: 35px;
}

.footer-phone span,
.footer-email span {
  font-weight: bold;
}

.footer-name,
.footer-top {
  margin: 30px 0;
}

.footer-name a,
.footer-top a {
  color:#07575b;
}

.footer-name {
  float: left;
}

.footer-top {
  float: right;
}

.footer-nav li {
  display: none;
}

.footer-nav li a {
  color: #07575b;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

  .main-nav {
    text-align: center;
  }

  .main-nav li {
    display: inline-block;
    margin-right: 15px;
  }

  .profile-img {
    float: right;
    width: 40%;
  }

  .summary {
    float: left;
    text-align: left;
    width: 55%;
    font-size: 1.2em;
  }

  .col {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .grid {
    float: left;
    width: 33.333%;
    padding: 10px;
  }

  .footer-paragraph {
    width: 70%;
    margin: 0 auto;
  }

  .footer-nav {
    float: right;
  }

  .footer-nav li {
    display: inline-block;
    margin: 30px 0;
    padding: 0 10px;
    font-weight: bold;
  }

  .footer-top {
    display: none;
  }
}

@media (min-width: 1024px) {
  .logo {
    float: left;
  }

  .main-nav {
    float: right;
  }

  .summary {
    width: 55%;
    font-size: 1.4em;
  }

  .col {
    width: 33.333%;
    padding: 10px;
  }

  .footer-paragraph {
    width: 50%;
  }
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

